body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    width: calc(100vw);
    height: calc(95vh);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E4D0;
}

h1 {
    margin: 0;
    font-size: 90px;
    text-align: center;
}

p {
    font-size: 30px;
    text-align: center;
}

button, .file-input-label {
    display: block;
    padding: 14px 150px;
    border-radius: 80px;
    border: none;
    cursor: pointer;
}

.conn-btn, .msg-btn, .file-btn, .file-input-label {
    margin: auto;
    margin-top: 40px;
    color: #E4E4D0;
    font-size: 50px;
    background-color: #94A684;
}

#file {
    display: none;
}
